
<footer class="footer bg-dark  py-2 mt-auto" >
    <section class="container-fluid" >
        <span class="text-muted">&copy</span><p class="text-muted">housechef</p>
    </section>
</footer>
</body>
</html>